@model IEnumerable<EFCodeFirstApp.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Gender</td>
                <td>Age</td>
            </tr>

            @{ 
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Gender</td>
                        <td>@item.Age</td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>
